* {
  margin: 0;
  padding: 0;
}
div {
  line-height: 1.5;
}
html {
  scroll-behavior: smooth;
  font-family: "阿里巴巴普惠体 2.0", SimHei;
}
.uni_container {
  max-width: 1200px;
  margin: 0 auto;
}

/* 标题 */
.uni_title {
  font-size: 24px;
  text-align: center;
  padding: 8rem 0 1rem 0;
}

.uni_product {
  display: flex;
  flex-wrap: wrap;
}
.uni_product .uni_product_box_4 {
  padding: 2rem 0 0 0;
  margin-right: 40px;
  box-sizing: border-box;
  width: 270px;
  height: 400px;
}
.uni_product .uni_product_box_4:nth-child(4n) {
  margin-right: 0;
}

.uni_product .uni_product_box_4 .item {
  width: 100%;
  height: 100%;
  background-color: #dadada;
}
